@import "../styles/index.scss";

@mixin radiusButton($height) {
  height: $height;
  &.radius {
    border-radius: $height;
  }
}

.su-button {
  box-sizing: border-box;
  line-height: 1;
  padding: 0 pt2rem(18);
  border-width: pt2rem(1);
  border-style: solid;
  border-radius: pt2rem(3);
  color: $color-text;
  outline: none;

  @include radiusButton(pt2rem(32));

  &.primary {
    border-color: $color-button-primary;
    background-color: $color-button-primary;
    color: #fff;

    &.focus {
      background-color: darken($color-button-primary, 5%);
    }

    &.disabled {
      border-color: lighten($color-button-primary, 5%);
      background-color: lighten($color-button-primary, 5%);
    }

    &.reverse {
      background-color: #fff;
      color: $color-button-primary;

      &.focus {
        border-color: darken($color-button-primary, 15%);
        color: darken($color-button-primary, 15%);
      }

      &.disabled {
        border-color: lighten($color-button-primary, 10%);
        color: lighten($color-button-primary, 10%);
      }
    }
  }

  &.default {
    border-color: $color-border;
    background-color: #fff;

    &.focus {
      border-color: darken($color-border, 10%);
      background-color: darken($color-border, 10%);
    }

    &.disabled {
      border-color: lighten($color-border, 5%);
      color: lighten($color-text, 40%);
    }
  }

  &.large {
    @include radiusButton(pt2rem(40));
  }

  &.small {
    @include radiusButton(pt2rem(28));
  }

  &.block {
    width: 100%;

    &.large {
      @include radiusButton(pt2rem(48));
    }
  }
}
